In [1]:
# Clothing Store
'''
Suppose the clothing brand has 3 stores in Mumbai, 1 in Kolkata and 1 in Chennai
inventory = {
    city-area : [(item_id, item_name, in_stock, unit_price)]
}

sales = {
    city-area : [(item_id, item_name, total_sale)]
}
'''

inventory = {}

inventory['Mumbai-Kurla'] = [
    (1, "Bodycon Dress", 5, 800.00),
    (2, "Wide Leg Jeans", 20, 1000.00), 
    (3, "Shirt", 30, 500.00)
]
inventory['Mumbai-CSMT'] = [
    (3, "Shirt", 50, 800.00),
    (4, "Formal Suit", 10, 4000.00),
    (5, "T-Shirt", 50, 600.00)
]
inventory['Mumbai-Bandra'] = [
    (1, "Bodycon Dress", 5, 1800.00),
    (2, "Wide Leg Jeans", 20, 1000.00), 
    (5, "Shirt", 30, 500.00)
]

inventory['Kolkata-Town Hall'] = [
    (1, "Bodycon Dress", 5, 800.00),
    (3, "Shirt", 50, 800.00),
    (4, "Formal Suit", 10, 3000.00)
]

inventory['Chennai-George Town'] = [
    (2, "Wide Leg Jeans", 20, 800.00), 
    (5, "Shirt", 30, 600.00)
]

sales = {}

sales['Mumbai-Kurla'] = [
    (1, "Bodycon Dress", 2400.00),
    (2, "Wide Leg Jeans", 10000.00), 
    (3, "Shirt", 7500.00)
]
sales['Mumbai-CSMT'] = [
    (3, "Shirt", 20000.00),
    (4, "Formal Suit", 20000.00),
    (5, "T-Shirt", 12000.00)
]
sales['Mumbai-Bandra'] = [
    (1, "Bodycon Dress", 5400.00),
    (2, "Wide Leg Jeans", 10000.00), 
    (5, "Shirt", 7500.00)
]

sales['Kolkata-Town Hall'] = [
    (1, "Bodycon Dress", 4000.00),
    (3, "Shirt", 16000.00),
    (4, "Formal Suit", 3000.00)
]

sales['Chennai-George Town'] = [
    (2, "Wide Leg Jeans", 8000.00), 
    (5, "Shirt", 12000.00)
]

print("Inventory Sheet")
for i, j in inventory.items():
    print(i, ":" ,j)

print()
print("Sales Sheet")
for i, j in sales.items():
    print(i, ":" ,j)

print("\nTotal Sales for each store:")
for i, j in sales.items():
    total = 0
    for n in j:
        total += n[2]
    print(i, ":", total)

Inventory Sheet
Mumbai-Kurla : [(1, 'Bodycon Dress', 5, 800.0), (2, 'Wide Leg Jeans', 20, 1000.0), (3, 'Shirt', 30, 500.0)]
Mumbai-CSMT : [(3, 'Shirt', 50, 800.0), (4, 'Formal Suit', 10, 4000.0), (5, 'T-Shirt', 50, 600.0)]
Mumbai-Bandra : [(1, 'Bodycon Dress', 5, 1800.0), (2, 'Wide Leg Jeans', 20, 1000.0), (5, 'Shirt', 30, 500.0)]
Kolkata-Town Hall : [(1, 'Bodycon Dress', 5, 800.0), (3, 'Shirt', 50, 800.0), (4, 'Formal Suit', 10, 3000.0)]
Chennai-George Town : [(2, 'Wide Leg Jeans', 20, 800.0), (5, 'Shirt', 30, 600.0)]

Sales Sheet
Mumbai-Kurla : [(1, 'Bodycon Dress', 2400.0), (2, 'Wide Leg Jeans', 10000.0), (3, 'Shirt', 7500.0)]
Mumbai-CSMT : [(3, 'Shirt', 20000.0), (4, 'Formal Suit', 20000.0), (5, 'T-Shirt', 12000.0)]
Mumbai-Bandra : [(1, 'Bodycon Dress', 5400.0), (2, 'Wide Leg Jeans', 10000.0), (5, 'Shirt', 7500.0)]
Kolkata-Town Hall : [(1, 'Bodycon Dress', 4000.0), (3, 'Shirt', 16000.0), (4, 'Formal Suit', 3000.0)]
Chennai-George Town : [(2, 'Wide Leg Jeans', 8000.0), (5, 'Shirt', 12000.0)]

Total Sales for each store:
Mumbai-Kurla : 19900.0
Mumbai-CSMT : 52000.0
Mumbai-Bandra : 22900.0
Kolkata-Town Hall : 23000.0
Chennai-George Town : 20000.0

In [2]:
# Grading System
'''
Tuples are immutable, and hence once created they can't be tampered with, making it secure and consistent
Tuples are faster and uses less memory
'''
# students = [(name, marks1, marks2, marks3, grade)]

students = [
    ("Ishaan", 85, 90, 88, "B"),
    ("Meera", 70, 75, 72, "C"),
    ("Kabir", 60, 65, 62, "D"),
    ("Johnson", 99, 98, 97, "A")
]

print("Students sorted by grades - ")
print(sorted(students, key = lambda x : x[4]))

Students sorted by grades -
[('Johnson', 99, 98, 97, 'A'), ('Ishaan', 85, 90, 88, 'B'), ('Meera', 70, 75, 72, 'C'), ('Kabir', 60, 65, 62, 'D')]

In [3]:
# Hotel Management System
'''
Tuples are immutable, and hence once created they can't be tampered with, making it secure and consistent
Tuples are faster and uses less memory
'''

# guests = [(name, room_no, special_request)]

guests = [
    ("Sneha", 101, "Extra pillows"),
    ("Yuvraj", 202, "Late checkout"),
    ("Tara", 303, "Vegetarian meals")
]

for i in range(len(guests)):
    print(f"Guests {i+1}: {guests[i]}")

Guests 1: ('Sneha', 101, 'Extra pillows')
Guests 2: ('Yuvraj', 202, 'Late checkout')
Guests 3: ('Tara', 303, 'Vegetarian meals')

In [4]:
# Car Rental Agency
'''
Tuples are immutable, and hence once created they can't be tampered with, making it secure and consistent
Tuples are faster to access and easier to filter
'''

# cars = [(model, rent_rate, available)]

cars = [
    ("Honda City", 1500, 5),
    ("Hyundai Creta", 2000, 3),
    ("Maruti Swift", 1200, 10)
]

print("Cars for rent")
print(sorted(cars, key = lambda x : x[1]))

Cars for rent
[('Maruti Swift', 1200, 10), ('Honda City', 1500, 5), ('Hyundai Creta', 2000, 3)]

In [5]:
# Event Management

'''
Tuples are immutable, fixed structure makes it easier
Tuples are faster to access and filter
'''
# events = [(event_name, date, location, count_of_attendees)]

events = [
    ("Tech Expo", "2025-11-10 10:00", "Mumbai", 300),
    ("AI Summit", "2025-11-15 09:00", "Hyderabad", 500),
    ("Startup Meet", "2025-11-12 14:00", "Bangalore", 150)
]

print("Events Schedule")
print(sorted(events, key = lambda x : x[1]))

Events Schedule
[('Tech Expo', '2025-11-10 10:00', 'Mumbai', 300), ('Startup Meet', '2025-11-12 14:00', 'Bangalore', 150), ('AI Summit', '2025-11-15 09:00', 'Hyderabad', 500)]

In [6]:
# Student Name and Grade

'''
scores = [(name, marks)]
results = [(name, grade)]
'''
def student_grade(scores):
    result = []
    for name, score in scores:
        if score >= 90:
            grade = "A"
        elif score >= 80:
            grade = "B"
        elif score >= 70:
            grade = "C"
        elif score >= 60:
            grade = "D"
        else:
            grade = "F"
        result.append((name, grade))
    return result
    
scores = [("Ishaan", 92), ("Johnson", 99), ("Kabir", 59), ("Meera", 76)]
print("Student with grades -")
for i in student_grade(scores):
    print(i)

Student with grades -
('Ishaan', 'A')
('Johnson', 'A')
('Kabir', 'F')
('Meera', 'C')

In [7]:
# Most Frequent Word

# words = [(word, count)]

def most_frequent(words):
    return max(words, key = lambda x : x[1])

words = [("data", 15), ("python", 22), ("model", 18)]
most_frequent(words)

('python', 22)

In [8]:
# Fruit and Vegetable Shop
'''
Tuples are immutable, and hence once created they can't be tampered with, making it secure and consistent
Tuples are faster, uses less memory, easier to sort
'''

# produce_inventory = [(product, unit_price, in_stock)]

produce_inventory = [
    ("Apples", 120.0, 50),
    ("Tomatoes", 80.0, 30),
    ("Bananas", 60.0, 40)
]
total = 0

for product, unit_price, qty in produce_inventory:
    total += unit_price*qty

print("Total Inventory Value: Rs.", total)

Total Inventory Value: Rs. 10800.0